body {
    
}
@font-face {
    font-family: gemstone;
    src: url(../Fonts/Gemstone.ttf);

  }

@font-face {
    font-family: philly sans;
    src: url(../Fonts/PhillySans.otf);

  }
nav {
    background-color: #87B5CF;
    
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 50px;
   font-family: gemstone;
    
}
  
#main-menu li {
    color: white;
    list-style: none;
    background-color: #5B70C3;
    border-radius: 0%;
  
}
#main-menu {
    
    display: flex;
    gap: 50px;
    
}

li{
    font-size: 40px
   
}

section {
    margin-inline: 200px;
    margin-inline: 5%;
    
    padding: 30px;
    }

#top-section {
    display: flex;
}

#top-section img {
width: 100%;
object-fit: cover;
height: 100%;
}
#top-section article {
    flex: 1;
}

#gohan-image {
    width: 20%; 
    margin-right: 20%; 
    flex: center;
}





